//NAVBAR COMPONENT *************************************************************

.navbar {
  background-color: rgb(128,63,30);
}

#navbar-hero {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: white;
}

.navbar-menu {
  font-family: 'Open Sans', sans-serif;

  a.navbaritem {
    color: white;
    margin: auto 10px;
  }

  :hover {
    border-bottom: 3px solid white;
  }
}

.navbar-end {
  font-family: 'Open Sans', sans-serif;

  a.navbaritem {
    color: white;
    margin: auto 10px;
  }

  :hover {
    border-bottom: 3px solid white;
  }
}

//HOME COMPONENT ***************************************************************

#homeColumn1 {
  background-image: url('./assets/whiskyShelf.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  height: 100vh;
}

#homeColumn2 {
  background-image: url('./assets/distilleryStill.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}
